body{
    background: #2c2c2c;
}

.information{
    
    margin-top: 20px;
    margin-left: 500px;
    background: #181818;
    width: 40%;
    padding: 2.5%;
    color: #fff;
    border-right: 5px solid #4d4d4d;

}

.information p{
    color: #fff;
    display: block;
    margin-top: 20px;
    font-size: 30px;
}

h1{
    font-size: 40px;
    text-align: center;
}

.btn{
    background-color: #CE93D8;
    border: 1px solid #CE93D8;
    color: white;
    font-size: 18px;
    width: 100%;
    height: 50px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 3px;
}

.btn a{
    text-decoration: none;
}

.btn:active{
    border: 1px solid #CE93D8;
    box-shadow: 2px 2px 5px 3px #FCE4EC;

}

.information span{
    color: aquamarine;
    margin: 10px;
}
